@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Any custom styles can go here */
/* Custom styles */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom styles */
body {
  font-family: 'Rubik One', 'sans-serif';
}

.hero-headers {
    font-family: 'Horizon', 'sans-serif';
}



/* Typing animation */
.typing-animation,
.typing-animation-delayed {
  display: inline-block;
  overflow: hidden;
  border-right: 0.15em solid #440381; /* Cursor */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.15em;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.typing-animation-delayed {
  animation-delay: 3.5s; /* Start after the first animation ends */
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #440381 }
}

/* Responsive adjustments */
@media (max-width: 640px) {
  .typing-animation,
  .typing-animation-delayed {
    font-size: 1.5rem; /* Smaller font size for mobile */
    letter-spacing: 0.1em; /* Tighter letter spacing */
  }
}

:root {
    --indigo: #440381;
    --blue-violet: #8338ec;
    --electric-blue: #51e5ff;
    --sapphire: #0056bf;
    --smoky-black: #100b00;
    --grey:grey;
}

body {
    font-family: 'Figtree', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: var(--smoky-black);
    background-color: #f4f4f4;
}

h1, h2, h3 {
    font-family: 'Rubik', sans-serif;
}

header {
    background: var(--indigo);
    color: #fff;
    padding: 1rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a {
    color: var(--electric-blue);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    cursor: pointer;
}

nav a:hover {
    color: #fff;
}

section {
    padding: 6rem 2rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1,
h2 {
    margin-bottom: 1rem;
    color: var(--sapphire);
}

h1 {
    font-family: "Rubik", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: var(--blue-violet);
}

form {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

input,
textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid var(--indigo);
    border-radius: 4px;
}

button {
    margin-bottom: 1rem;
    padding: 0.5rem;
    background-color: var(--sapphire);
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--blue-violet);
}

footer {
    background: var(--indigo);
    color: #fff;
    text-align: center;
    padding: 1rem;
}

#home {
    background-color: var(--electric-blue);
    color: var(--smoky-black);
}

#about {
    background-color: #fff;
}

#services {
    background-color: var(--sapphire);
    color: #fff;
}

#contact {
    background-color: #fff;
}
